<h1> Bryant Dresher </h1>
<img src="BryantPhotosquare.jpg" />
<h2> I am a System Administrator, MSIS student, and father of 5. </h2>
<p> Understanding coding helps with solving problems, observing how things work, and solving more difficult problems with code and system integration. </p>
<a href="http://fierce-rambo-183930.nitrousapp.com:4000/read_more"> Read More </a>